/* Imports -- external styles and fonts */
@import url('https://fonts.googleapis.com/css?family=Poppins:400,400i,500,500i,700,700i,800');

/* actual styling */
body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 400;
}
.butts {
	background-color:#44c767;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	padding:16px 31px;
    text-decoration:none;
    font-size: 1.1em;
    font-weight: 700;
}
.butts:hover {
	background-color:#1ed760;
}
.butts:active {
	position:relative;
	top:1px;
}

.app-contain {
    margin-left: 20%;
    margin-right: 20%;
    /* lazy-ass padding for container -- FIXME: git gud */
}